{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau vol</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('flight_index') }}">Retour à la liste des vols</a>
        </li>
    </ul>
{% endblock %}
